

  <div id="profile-wrapper">

     <h3></h3>
     <p>This is your admin page</p>
      <button id="refresh-page-btn">
         <a href="/admin">Reload page</a>
      </button>
       
  </div>
    <h3 class="error"></h3>

<script type="module" src="/javascript/admin.js"></script>
