<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>
     <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
                <li>
                <a href="/login">Log In</a>
            </li>
              <li>
                <a href="/public">Public</a>
            </li>
        
            <li>
                <a href="/user/profile">Profile</a>
            </li>
              <li>
                <a href="/admin">Admin</a>
            </li>
           
           
            <li>
                <button type="submit" id="logout-btn">Log out</button>
              
            </li>
        </ul>
    </nav>
    {{{body}}}
       <script type="module" src="/javascript/logout.js"></script>

</body>
</html>